body {
    font-family: Alexandria, serif;
    color: #000000;
    margin: 0px;
  }

  .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
  }

  .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: none;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .15px 15px #FF00FF;
  }

  .product-image {
    width: 80%;
  }

  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }

  .color-box {
    width: 140px;
    height: 40px;
    margin-top: 25px;
  }

  .cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #FF00FF;
    box-shadow: 0px .15px 15px #FF00FF;
    padding: 6px 20px;
  }

  button {
    margin-top: 50px;
    border: 1px solid #FF00FF;
    background-color: white;
    box-shadow: 0px .25px 25px #FF00FF;
    height: 40px;
    width: 100px;
    font-size: 14px;
  }

  .disabledButton {
    background-color: #696969;
  }

  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #696969;
  }
/*
  input {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
  }
  */

  textarea {
    width: 100%;
    height: 70px;
  }
/*
  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }
