<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://www.w3.org/TR/CSS21/fonts.html#propdef-font-family" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Product App</title>
</head>
<body>

<div id="myapp">

    <div class="product">

        <div class="product-image">
            <img :src="image" />
        </div>

        <div class="product-info">

            <h1>{{ title }}</h1>

            <p v-if="inventory > 11">В продажі</p>
            <p v-else-if="inventory <= 11 && inventory > 0">Залишилися останні одиниці товару</p>
            <p v-else>Немає в наявності</p>

            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div
                    class="color-box"
                    v-for="variant in variants"
                    :key="variant.variantId"
                    :style="{ backgroundColor:variant.variantColor }"
                    @click="updateProduct(variant.variantImage)"
            >

            </div>

            <div class="cart">
                <p>Корзина({{ cart }})</p>
            </div>

            <button
                    v-on:click="addToCart"
                    :disabled="!inStock"
                    :class="{ disabledButton: !inStock }"
            >
                Add to cart
            </button>

        </div>
    </div>

        <div class="columnthree">
            <div class="newsletter"><h2>Підписатися на наші новини</h2></div>
            <div class="text">Будь в курсі всіх новин і знижок!</div>
            <div class="mail">
                <div class="input"><input type="text" name="mail" value="" placeholder="Ваша почта"></div>
        </div>
</div>

<script src="finaljs.js"></script>

    </div>

</body>
</html>
